img {
    display: block;
    max-width: 100%;
    max-height: 800px;
    margin-left: auto;
    margin-right: auto;
}


.modal {
    /* width: 80%;
    height: 80%; */
    margin: auto;
}

.modaloverlay {
    /* width: 80%;
    height: 80%; */
    margin: auto;
}

.toppdivs input {
    position: absolute;
    top: 0;
    left: 50%;
    border-color: transparent;
    caret-color: transparent;
    outline: none;
}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}

.prevbutton, .nextbutton {
    cursor: pointer;
    position: absolute;
    top: 300px;
    margin-top: -22px;
    width: auto;
    padding: 16px;
    color: grey;
    font-weight: bold;
    font-size: 42px;
    transition: 0.6s ease;
    /* border-radius: 0 3px 3px 0; */
    border: none;
    user-select: none;
    background-color: transparent;
}

.nextbutton {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prevbutton {
    left: 0;
}

.prevbutton:hover, .nextbutton:hover {
    /* background-color: rgba(0,0,0,0.8); */
    color: black;
}

.myslides {
    width: 90%;
    height: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}